<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>news163</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Pull</display-name>
    <servlet-name>Pull</servlet-name>
    <servlet-class>com.news163.Servlet.Pull</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pull</servlet-name>
    <url-pattern>/Pull</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cqiehuan</display-name>
    <servlet-name>Cqiehuan</servlet-name>
    <servlet-class>com.news163.Servlet.Cqiehuan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cqiehuan</servlet-name>
    <url-pattern>/Cqiehuan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Yun</display-name>
    <servlet-name>Yun</servlet-name>
    <servlet-class>com.news163.Servlet.Yun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yun</servlet-name>
    <url-pattern>/Yun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loo</display-name>
    <servlet-name>Loo</servlet-name>
    <servlet-class>com.news163.Servlet.Loo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loo</servlet-name>
    <url-pattern>/Loo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.news163.Servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>